@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Vertical scrollbar width */
    height: 8px; /* Horizontal scrollbar height */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0); /* Transparent scrollbar thumb */
    border-radius: 4px; /* Optional: round the corners */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0); /* Transparent scrollbar track */
  }
}
